# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
*.pem
*.key
*.crt

# Misc
*.tgz
*.gz